#root {
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(180deg, #e6e5e5, #ffffff);
}

#root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
}